.containerPerfil {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 2rem;
}

.avatar-image {
    width: 60%;
}

.botoes {
    display: flex;
    gap: 10px;
}

.card {
    margin-top: 50px;
    width: 100%;

}

.areaSenha {
    position: relative;
}

.infos-gerais {
    padding: 10px;
}

.cards-denuncias {
    display: flex; 
    flex-direction: column;
    gap: 20px;
}

.botoes{
    margin-bottom: 10px;
}

@media (max-width: 600px) {

    .containerPerfil {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem;
    }

    .infos-gerais {
        border-bottom: solid 1px #384152;
    }
}