:root {
    --primary-color: #24C55E;
    --secondary-color: #00b37e;
    --background-color: #13171f;
    --text-color: #030303;
    --border-radius: 8px;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #111828, #010101);
}


.container {
    max-width: 900px;
    width: 110%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    color: white;
    box-shadow: 0 0 15px rgba(78, 77, 77, 0.5);
}


h1 {
    text-align: center;
    margin-bottom: 2rem;
}


.form-box, .form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}


input, textarea {
    width: 100%;
    padding: 0.7rem 1.4rem;
    border-radius: var(--border-radius);
    border: 1px solid #24C55E;
    background-color: #082435;
    color: white;
    font-size: 1rem;
}


textarea {
    resize: vertical;
}

button {
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

button.outline {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
