.cardGrande {
    flex: 1 1 300px;
    border-radius: 1rem;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f7f5f7;
    transition: transform 0.3s ease-out
}

.cardGrande:hover {
    transform: translateX(20px);
    }

.cardGrande h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #24C55E;
    margin-bottom: 10px;
    text-align: left;
}

.cardGrande p{
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    color: #f7f5f7;
}

.cardGrande .icone {
    font-size: 2.5rem;
    color: #00b37e;
    margin-bottom: 5px;
}
