* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Propriedades padrão para todas as páginas */

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #111828, #010101);
}

/* Inputs */
input {
    padding: 0.7rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Botões */

button {
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #007a5c;
    color: white;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

button:hover {
    background-color: #00694d;
    transform: scale(1.05);
}

button.outline {
    background: transparent;
    color: #007a5c;
    border: 1px solid #007a5c;
}