:root {
    --primary-color: #24C55E;
    --secondary-color: #00b37e;
    --background-color: #202938;
    --text-color: #010101;
    --border-radius: 8px;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


/* Propriedades padrão para todas as páginas */

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #111828, #010101);
}

/* Inputs */
input {
    padding: 0.7rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: white;
}

/* Botões */

button {
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

button.outline {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid VAR(--SECUNDARY-COLOR);
}