.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: linear-gradient(135deg, #202938, #111828, #111828);
  color: white;
  border-bottom: 1px solid #384152;
}

.logoHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icone {
  width: auto;
  height: 4rem;
  transition: transform 0.2s ease;
}

.icone:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.menu {
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
  align-items: center;
  &.open{
    font-size: 5dvh;
    flex-direction: column;
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #111828;
  }
}

li {
  list-style: none;
  transition: transform 0.2s ease;
}

li:hover {
  cursor: pointer;
  color: var(--primary-color);
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: white;

}

a:hover {
  cursor: pointer;
  color: var(--primary-color);

}

.btn-mobile {
  color: #f7f5f7;
  font-size: 3rem;
  display: none;
  background-color: transparent;
}


@media (max-width: 768px) {

  .btn-mobile {
    display: block;
  }

  .menu{
    display: none;
    &.open{
      display: flex;
    }
  }

  .icone {
    height: 3rem;
  }

  .menu {
    display: none;
  }

  h1 {
    font-size: medium;
  }

}