.card-home{
    background-color:#202938;
    border-radius: 0.5rem;
    border: solid 1px #384152;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 100%;
    width: 90%;
    color: white;
} 

h2{
    color: #24C55E
}
