/* Tela inteira centralizada */
.container {
  height: 100vh;
  width: 250%;
  background: linear-gradient(180deg, #0f172a, #0b1120);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

}

/* Card */
.card {
  width: 100%;
  max-width: 450px;
  background: #1f2530;
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 0 25px #00000050;
  color: white;
}

/* Ícone principal */
.icon-area {
  display: flex;
  justify-content: center;
}
.shield {
  background: #1bff7a;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 32px;
}

/* Títulos */
h1 {
  text-align: center;
  margin-top: 15px;
}
.sub {
  text-align: center;
  color: #c9d1d9;
  margin-bottom: 4px;
}
.restrito {
  text-align: center;
  color: #1bff7a;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Inputs */
label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.input-group {
  background: #151a21;
  border: 1px solid #2c323d;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 18px;
}

.input-group input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  flex: 1;
  margin-left: 10px;
}

.icon {
  opacity: 0.7;
}

/* Ícones de validação */
.valid {
  color: #1bff7a;
}
.invalid {
  color: #ff4a4a;
}

/* Opções */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
}

.recuperar {
  color: #1bff7a;
  text-decoration: none;
  font-size: 14px;
}

/* Botão */
.btn {
  width: 100%;
  background: #07a147;
  padding: 12px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #16d86a;
}


/*  BREAKPOINTS */
@media (max-width: 480px) {
  .card {
    padding: 22px;
  }

  h1 {
    font-size: 22px;
  }
}
