.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: linear-gradient(135deg, #202938, #111828, #111828);
  color: white;
  border-bottom: 1px solid #384152;
  height: 10rem;
}