/* === SEÇÃO PRINCIPAL === */
.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  text-align: center;
  background: linear-gradient(150deg, #111827 0%, #006144 50%, #111827 100%);;
  border-radius: 0 0 2rem 2rem;
}

.titleHomeHeader {
  font-size: 4rem;
  font-weight: 700;
  color: #f7f5f7;
  border-bottom: 1px solid #f7f5f7;
  margin-bottom: 1rem;
  cursor: default;
}

.pHomeHeader {
  color: #d1d5db;
  font-size: 1.5rem;
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 2rem;
  cursor: default;
}

/* Botão de nova denúncia */
.homeHeader button {
  color: white;
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.2s;
}

.homeHeader button:hover {
  background-color: #00b37e;
  transform: scale(1.05);
}

.cardsInfo {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 25px 0;
}

.cardsInfo> :nth-child(3) {
  grid-column: span 2;

}

.cardsNav{
  
}
/* === RESPONSIVIDADE === */

@media (max-width: 1200px) {

  .homeHeader {
    border-radius: 0 0 1.5rem 1.5rem;
  }

  .titleHomeHeader {
    font-size: 3.5rem;
  }

  .homeHeader button {
    font-size: 1.5rem;
  }

  .pHomeHeader {
    font-size: 1.2rem;
  }

}

@media (max-width: 768px) {

  .cardsInfo {
    grid-template-columns: 1fr;
  }

  .cardsInfo> :nth-child(3) {
    grid-column: span 1;
  }

  .homeHeader {
    border-radius: 0 0 1rem 1rem;
  }

  .titleHomeHeader {
    font-size: 2.6rem;
  }

  .pHomeHeader {
    font-size: 1rem;
  }

  .homeHeader button {
    font-size: 1.2rem;
  }
}