.cadastroContainer{
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.cardCadastro{
  background-color: #202938;
  padding: 40px 20px;
  border: #222 solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  width: 800px;
  height: 500px;
  max-width: 90%;
  min-height: 700px;
  min-width: 700px;
}

.infoCard{
    margin-bottom: 10px;
    text-align: center;
}
.cardCadastro h2 {
  font-size: 2.5rem;
  color: #fff;
}

.cardCadastro p{
    color: #fff;
}
.icone{
  height: 6rem;
}
/* Inputs */
.formCadastro input {
  background-color: #384152;
  width: 100%;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  font-size: 0.95rem;
}


.confirmarCadastro{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.submitCadastro {
  width: 100%;
  margin-top: 10px;
}

.aceiteTermos{
  width: 16px;
  height: 16px;
}

.labelAceite{
  margin-top: 1%;
  color: #fff;
  font-size: 0.9rem;
}

.labelInputs{
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  display: block;
}

.submitCadastro{
  display: grid;
  justify-items: center;

}
.btnEntrar{
  min-width: 100%;
  text-align: center;  
}