.main-doc{
    padding: 2rem;
}

.titulo-doc{
    display: flex;
    text-align: center;
    
    padding: 2rem;
}
h1{
    padding-top: 12px;
    color:#24C55E;
    padding-left: 15px;
}
h2{
    color: white;
}

p{
    margin-bottom: 2rem;
    border-bottom: solid 1px #384152;
}
