:root {
  --preto: #010101;
  --verde: #24C55E;
  --azul: #111828;
  --radius: 10px;
  --fonte: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--fonte);
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, var(--azul), var(--preto));
  color: white;
}


.success-container {
  max-width: 500px;
  margin: 60px auto;
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: var(--radius);
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.check-icon {
  font-size: 80px;
  color: var(--verde);
  font-weight: bold;
  margin-bottom: 20px;
}


.box-protocolo {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: var(--radius);
  margin-top: 25px;
  box-shadow: 0 0 15px var(--verde);
}

.protocolo {
  font-size: 28px;
  font-weight: bold;
  color: var(--verde);
}

.importante {
  margin: 10px 0 20px;
  font-size: 14px;
  opacity: 0.9;
}


.copiar-btn {
  background: var(--verde);
  color: var(--preto);
  padding: 10px 18px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.copiar-btn:hover {
  transform: scale(1.05);
  background: #1ea34f;
}
