:root {
    --primary-color: #24C55E;
    --secondary-color: #00b37e;
    --background-color: #13171f;
    --text-color: #030303;
    --border-radius: 8px;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}




.container {
    max-width: 900px;
    width: 110%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #202938;
    border-radius: var(--border-radius);
    color: white;
   
}


h1 {
    text-align: center;
    margin-bottom: 2rem;
}


.form-box, .form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}


input, textarea {
     background-color: #384152;
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 0.95rem;
}


textarea {
    resize: vertical;
}

.button-group{
    text-align: center;
    justify-items: center;
}

